@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

#logo {
  font-family: "Big Shoulders Stencil Display", sans-serif;
  font-size: 280%;
}

body {
  background-color: #707070;
}

.top-content{
  margin-top: 50px;
}

#mainNav {
  background-color: #696969;
}

.card-deck{
  padding: 10px;
}

.thumbnail-image {
  width: 100px;
  height: 100px;
}

.agree-button {
  color: orange;
  background-color: transparent;
  border: none;
}

.agree-button:hover {
  color: orangered;
}