@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

#logo {
  font-family: "Big Shoulders Stencil Display", sans-serif;
  font-size: 280%;
}

body {
  background-color: #707070;
}

.top-content{
  margin-top: 50px;
}

#mainNav {
  background-color: #696969;
}

.card-deck{
  padding: 10px;
}

.card-entry {
  max-width: 300px;
  max-height: 600px;
}

.thumbnail-image {
  width: 80%;
  height: 90%;
  text-align: center;
}

.agree-button {
  color: orange;
  background-color: transparent;
  border: none;
}

.agree-button:hover {
  color: orangered;
}

.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* --------------------------------------------------- Buttons */

.see-more-btn {
  background-color: #fff;
  color: #696969;
  text-align: center;
}

.see-more-btn:hover {
  background-color: #696969;
  color: #fff;
}

.see-more-container {
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* ----------------------------------------------------- Cards */

.card-header {
    background:#676767;
    text-align: center;
}

.card-header button {
    color: #fff;
}


/* ------------------------------------------------Icons - social */

.social-networks {
  text-align: center;
}

.social-networks li{
  display: inline;
}

.social-networks li a i {
  font-size: 160%;
  margin: 2%;
  
  color: #fff;
}



/* ---------------------------------------------------Footer */

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.footer-container {
  background-color: #595959;
  
}

#logo-footer {
  font-family: "Big Shoulders Stencil Display", sans-serif;
  text-align: center;
  font-size: 150%;
  padding-top: 20px;
  color: #fff;

}

.footer-container p {
  color: #fff;
  text-align: center;
  font-size: 80%;
}