{% extends "base.html" %}
{% block content %}

<!-- Require a function to take the innerhtml from the card, load it into localstorage and unload it here. -->

 <body onload="setDetails()"> 
<h1>Edit Your Movie</h1>

<form method="POST" action="{{ url_for('edit_movie', movie_id=movie._id) }}">
  <div class="form-group">
    <label for="movietitle"></label>
    <input type="text" name="movietitle" class="form-control" id="movietitle" placeholder="Add Movie Title here">
    <label for="movieyear"></label>
    <input type="text" name="movieyear" class="form-control" id="movieyear" placeholder="Add Movie Year here">
    <label for="movieactors"></label>
    <input type="text" name="movieactors" class="form-control" id="movieactors" placeholder="Add Movie Actors here">
    <label for="movieimage"></label>
    <input type="text" name="movieimage" class="form-control" id="movieimage" placeholder="Add Movie Image here">
    <label for="category_name">Movie Genre</label>
    <select id="category_name" name="category_name" class="validate" required>
      <option value="" disabled selected>Choose category</option>
      {% for category in categories %}
          <option value="{{ category.category_name }}">{{ category.category_name }}</option>
      {% endfor %}
    </select>
    <button id="searchMovie" type="submit" class="btn btn-primary">Edit Listing</button>
  </div>
</form>


{% endblock %}