{% extends "base.html" %}
{% block content %}

<!-- Require a function to take the innerhtml from the card, load it into localstorage and unload it here. -->

 <body onload="setDetails()"> 
<div class="gems-title-div">
  <h1 class="gems-title">Edit Your Movie</h1>
  <hr class="block-divider block-divider-bottom-margin">
</div>


<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-10 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <form method="POST" action="{{ url_for('edit_movie', movie_id=movie._id) }}">
              <div class="form-group">
                <label for="movietitle"></label>
                <input type="text" name="movietitle" class="form-control" id="movietitle" placeholder="Add Movie Title here">
                <label for="movieyear"></label>
                <input type="text" name="movieyear" class="form-control" id="movieyear" placeholder="Add Movie Year here">
                <label for="movieactors"></label>
                <input type="text" name="movieactors" class="form-control" id="movieactors" placeholder="Add Movie Actors here">
                <label for="movieimage"></label>
                <input type="text" name="movieimage" class="form-control" id="movieimage" placeholder="Add Movie Image url here" hidden>
                <input type="text" name="imdbID" class="form-control" id="imdbID" placeholder="Add IMDB ID here" hidden>
                <hr class="block-divider block-divider-bottom-margin">
                <label for="category_name" class="gems-body">Movie Genre</label>
                <select id="category_name" name="category_name" class="validate form-control" required>
                  <option value="" disabled selected>Choose category</option>
                  {% for category in categories %}
                      <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                  {% endfor %}
                </select>
                 <label class="gems-body"for="moviereview">Would you like to tell people why?</label>
                <input type="text" name="moviereview" class="form-control" id="moviereview" placeholder="140 Characters of Convincing" onKeyDown="textCounter(this,140);" onKeyUp="textCounter(this,'moviereview-length' ,140)">
                  
                <input class="character-counter float-right round-corners" readonly type="text" id='moviereview-length' name="moviereview-length" size="3" maxlength="3" value="140">
                <label for="moviereview-length"class="gems-body float-right"> Characters Remaining: </label>
                
                <!-- hr added to stop the white hr from encroaching on the 'Characters Remaining' line -->
                <hr class="hr-background">
                <hr class="block-divider block-divider-bottom-margin">
                            <button id="searchMovie"class="btn btn-lg btn-success btn-block text-uppercase" type="submit">Edit Listing</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>



{% endblock %}