{% extends "base.html" %}
{% block content %}

 <body onload="setDetails()"> 
<h1>Is this correct?</h1>

<form>
  <div class="form-group">
    <label for="movietitle"></label>
    <input type="text" name="movietitle" class="form-control" id="movietitle" placeholder="Add Movie Title here">
    <label for="movieyear"></label>
    <input type="text" name="movieyear" class="form-control" id="movieyear" placeholder="Add Movie Year here">
    <label for="movieactors"></label>
    <input type="text" name="movieactors" class="form-control" id="movieactors" placeholder="Add Movie Actors here">
    <label for="movieimage"></label>
    <input type="text" name="movieimage" class="form-control" id="movieimage" placeholder="Add Movie Image here">
    <label for="moviecategory"></label>
    <input type="text" name="movietcategory" class="form-control" id="moviecategory" placeholder="Add Movie Category here">
  </div>
</form>



{% endblock %}