{% extends "base.html" %}
{% block content %}


<div class="gems-title-div">
  <h2 class="gems-title">{{ username|capitalize }}'s Movies</h2>
  <hr class="block-divider block-divider-bottom-margin">
</div>


<h3 class="gems-body">My Added Films</h3>

    <div class="deck-wrapper">
      <div class="card-deck">
        {% for movie in movies|sort(attribute='_id', reverse = True) %}
              {% if loop.index <= 5 %}
              <div class="card flex-row flex-wrap card-entry" >
                <div class="card-header border-0">
                  <img id="{{ movie._id }}_image" class="thumbnail-image" src="{{ movie.movie_image }}" alt="">
                </div>
                <div class="card-block px-2">
                  <h4 id="{{ movie._id }}_title" class="card-title">{{ movie.movie_name }}</h4>
                  <p id="{{ movie._id }}_year" class="card-text">{{ movie.movie_year }}</p>
                  <p id="{{ movie._id }}_actors" class="card-text">{{ movie.movie_actors }}</p>
                  <p id="{{ movie._id }}_category" class="card-text">{{ movie.category_name }}</p>
                  <p class="card-text">{{ movie.movie_review }}</p>
                  <span>Gem Rating: </span>
                <span class="card-text rating{{ movie._id }}">{{ movie.movie_rating }}</span>
                </div>
                <a onclick="return editEntry(this.id)" href="/edit_movie/{{ movie._id }}" id="{{ movie._id }}" class="btn-block btn btn-primary editButton ">Edit</a>
                <!-- <a href="{{ url_for('delete_movie', movie_id=movie._id) }}" class="btn-danger btn-lg">Delete</a> -->
                <button type="button" class="btn btn-block btn-danger deleteButton" data-toggle="modal" data-target="#deleteModal{{ movie._id }}">
               Delete
                </button>

              </div>

              

              <!-- Modal -->
                <div class="modal fade" id="deleteModal{{ movie._id }}" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="deleteLabel">Are you sure you want to delete {{ movie.movie_name }}?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        This action cannot be undone.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a href="{{ url_for('delete_movie', movie_id=movie._id) }}" class="btn btn-danger ">Delete</a>
                      </div>
                    </div>
                  </div>
                </div>
              
            {% endif %}
          
        {% endfor %}
      </div>
    </div>

    <div class="deck-wrapper">
      <div class="card-deck">
        {% for movie in movies|sort(attribute='_id', reverse = True) %}
              {% if loop.index > 5 and loop.index <= 10 %}
              <div class="card flex-row flex-wrap card-entry" >
                <div class="card-header border-0">
                  <img id="{{ movie._id }}_image" class="thumbnail-image" src="{{ movie.movie_image }}" alt="">
                </div>
                <div class="card-block px-2">
                  <h4 id="{{ movie._id }}_title" class="card-title">{{ movie.movie_name }}</h4>
                  <p id="{{ movie._id }}_year" class="card-text">{{ movie.movie_year }}</p>
                  <p id="{{ movie._id }}_actors" class="card-text">{{ movie.movie_actors }}</p>
                  <p id="{{ movie._id }}_category" class="card-text">{{ movie.category_name }}</p>
                  <p class="card-text">{{ movie.movie_review }}</p>
                  <span>Gem Rating: </span>
                <span class="card-text rating{{ movie._id }}">{{ movie.movie_rating }}</span>
                </div>
                <a onclick="return editEntry(this.id)" href="/edit_movie/{{ movie._id }}" id="{{ movie._id }}" class="btn-block btn btn-primary editButton ">Edit</a>
                <!-- <a href="{{ url_for('delete_movie', movie_id=movie._id) }}" class="btn-danger btn-lg">Delete</a> -->
                <button type="button" class="btn btn-block btn-danger deleteButton" data-toggle="modal" data-target="#deleteModal{{ movie._id }}">
               Delete
                </button>

              </div>

              

              <!-- Modal -->
                <div class="modal fade" id="deleteModal{{ movie._id }}" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="deleteLabel">Are you sure you want to delete {{ movie.movie_name }}?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        This action cannot be undone.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a href="{{ url_for('delete_movie', movie_id=movie._id) }}" class="btn btn-danger ">Delete</a>
                      </div>
                    </div>
                  </div>
                </div>
              
            {% endif %}
          
        {% endfor %}
      </div>
    </div>





{% endblock %}