{% extends "base.html" %}
{% block content %}

<!-- Page is responsible for allowing users to register an account, loading their details into the database. -->
<div class="gems-title-div">
  <h1 class="gems-title">Register</h1>
  <hr class="block-divider block-divider-bottom-margin">
</div>

  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <form class="form-signin" method="POST" action="{{ url_for('register') }}">
              <div class="form-label-group">
                <!-- Username with length and character type validation -->
                <label for="username" class="gems-body text-center">Username</label>
                  <input id="username" name="username" type="text" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate form-control" placeholder="Username" required>
              </div>
               <!-- Email address with email type validation -->
              <div class="form-label-group">
                <label for="email" class="gems-body text-center">Email Address</label>
                  <input id="email" name="email" type="email" class="validate form-control" placeholder="Email" required>
              </div>
               <!-- Password with length and type validation -->
              <div class="form-label-group">
                <label for="password" class="gems-body text-center">Password</label>
                  <input  id="password" name="password" class="form-control validate" type="password" placeholder="Password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
              </div>
              <hr class="block-divider block-divider-bottom-margin">
               <!-- Submit Button -->
              <button class="btn btn-lg btn-success btn-block text-uppercase" type="submit">Register</button>
              <hr class="block-divider block-divider-bottom-margin">
              <!-- Link to login should you have an account already -->
              <a class="nav-link text-center" href="{{ url_for('login') }}">Already have an account? Login Here</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}