{% extends "base.html" %}
{% block content %}

<div class="gems-title-div">
  <h2 class="gems-title">Search for a Movie</h2>
  <p class = "gems-body"> See if your pick is already on our site.</p>
  <hr class="block-divider block-divider-bottom-margin">
</div>

<div class="search-movie-container">
  <div class="search-movie">
      <form action="{{ url_for('search') }}" method="post">
        <div class="input-group">
          <input type="text" name="query" id="query" minlength="3" placeholder="Enter Movie Title" aria-label="Movie Title Search Box" class="search-movie validate" required>
          <div class="input-group-append">
            <button type="submit" class="btn btn-outline-secondary" >Search</button>
            <a href="{{ url_for('get_movies') }}" class="btn btn-outline-secondary" type="button">Reset</a>
          </div>
        </div>
      </form>
  </div>
<div>

<!-- <div class="gems-title-div">
  <hr class="block-divider block-divider-bottom-margin">
</div> -->


<div class="top-content">
      <div>New</div>
    </div>
    <div class="deck-wrapper">
      <div class="card-deck">
        {% for movie in movies|sort(attribute='_id', reverse = True) %}
          {% if loop.index <= 5 %}
            <div class="card flex-row flex-wrap card-entry " >
              <div class="card-header border-0">
                <img class="thumbnail-image" src="{{ movie.movie_image }}" alt="">
              </div>
              <div class="card-block px-2">
                <h4 class="card-title">{{ movie.movie_name }}</h4>
                <p class="card-text">{{ movie.movie_year }}</p>
                <p class="card-text">{{ movie.movie_actors }}</p>
                <p class="card-text">{{ movie.category_name }}</p>
                <p class="card-text">{{ movie.movie_review }}</p>
                <p class="card-text rating{{ movie._id }}">{{ movie.movie_rating }}</p>
                
                  <input type="hidden" value="{{ movie._id }}"name="movie-input"></input>
                  <button class="agree-button" data-id="{{ movie._id }}" name="agree-button"><i class="fa fa-thumbs-up"></i></button>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>



{% endblock %}